@media screen and (min-width: 320px) {
    /* Make header photo smaller*/
    /* adust header text right align */
    /* */
    p {
        font-size: 18px;
    }

    .header {
        display: flex;
        flex-wrap: wrap;
    }
    .header_logo, .header_inner {
        width: 20%;
    }
    .header_inner {
        width: 80%;
    }
}


@media screen and (min-width: 600px) {
    /* Size header photo */
    /* size project photos*/
    .header {
        margin: .5em 1.5em;
    }
}


@media screen and (min-width: 850px) {
    .header, main, nav, content, footer {
      width: 850px;
      margin-left: auto;
      margin-right: auto;
    }

    .proj1, .proj2, .proj3 {
        padding: .25em;
    }
    p {
        font-size: unset;
    }
  }